:root {
  --body-bg: #d5d5d5;
  --dark-bg: #2d2e29;
  --dark-bg-inv: #d2d1d6;
  --light-bg: #fcfcfc;
  --light-color: #d4d4d4;
  --text-grey: #666;
  --blue: #5291F2;
  --blue-inv: #ad6e0d;
}

html {
  height: 100%;
  /* 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html body {
  height: 100%;
  /* 16px */
  font-size: 1.8rem;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Average Sans';
  background-color: var(--body-bg);
  color: var(--dark-bg);
}

h1,
h2,
h3,
h4 {
  font-family: Alegreya, serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--dark-bg);
}

a:after {
  /* content: attr(href);
  display: inline-block; */
  /* padding-left: .6rem; */
}

ul {
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

.content-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background: #fcfcfc;
  /* max-width: 120rem;
  margin: 0 auto; */
}

/* HEADER */
.cv-header {
  position: relative;
  height: 23.8rem;
}

.cv-header:before {
  content: "";
  background: #768ee3;
  height: 16rem;
  width: 100%;
  display: block;
  position: absolute;
  top: 4rem;
  z-index: -1;
}

.header-inner {
  /* max-width: 120rem;
  margin: 0 auto; */
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: var(--dark-bg-inv);

}

.profile-pic {
  display: flex;
  justify-content: center;
  padding: 3rem 4rem;
  background-color: #2d2e29; /* black */
  min-width: 36rem;
}

.profile-pic img {
  border-radius: 50%;
  border: 4px solid #d3d3d3;
  width: 17rem;
  height: auto;
}

.name-jobtitle {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  justify-content: center;
  align-items: center;
  width: max-content;
  margin-left: 8rem; /* like content padding */
}

.profile-name {
  font-size: 6rem;
  letter-spacing: 0.2rem;
}

.job-title {
  font-size: 3rem;
  font-style: italic;
}

/* CONTENT */
.content {
  color: var(--dark-bg);
  grid-column: 2/3;
  grid-row: 2/3;
}

.content .section {
  padding-left: 8rem;
  padding-right: 4rem;
}

.section-title {
  font-size: 5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.section ul {
  padding-left: 3rem;
}

.item {
  display: flex;
  gap: 3rem;
  padding-bottom: 3rem;
}

.item__start {
  min-width: 6rem;
  padding-top: 0;
  position: relative;
  font-family: 'Alegreya';
  font-weight: 400;
  font-size: 3rem;
  line-height: 1;
  text-align: right;
  padding-right: 1rem;
}

/* the timeline dot */
.item__start:before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--dark-bg);
  position: absolute;
  right: calc(-1rem - 2px);
  top: 1.5rem;
}

/* the timeline itself */
.item__start:after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  border-right: 1px dotted var(--dark-bg);
  position: absolute;
  top: 3rem;
  right: -1rem;
}

.item__details h3 {
  margin-top: 0;
}

.item__job-title {
  display: block;
  font-size: 3rem;
  line-height: 1.2;
  margin-top: 0;
  font-family: Alegreya, serif;
  font-weight: 600;
}

.item__job-company {
  color: var(--text-grey);
}

.item__job-owner {
  font-style: italic;
  font-size: smaller;
}

.mdash {
  padding:0 1rem;
}


.item__job-description {
  display: block;
}

.section--education .item:last-child .item__start:after {
  display: none;
}

.reference-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.reference-container .item a {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-direction: column;
}

.item--website img {
  border: 6px solid var(--dark-bg);
  border-radius: 5px;
  transition: transform .1s ease-in;
}

.item--website:hover img {
  transform: rotate(7deg);
}

/* SIDEBAR */
.sidebar {
  background: var(--dark-bg);
  color: var(--light-color);
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.sidebar a {
  color: var(--light-color);
}

.sidebar h2,
.sidebar h3 {
  color: var(--blue);
}

.sidebar > :not(h2) {
  padding-left: 2rem;
}

.sidebar .section {
  min-width: 38rem;
  max-width: 38rem;
}

.contact-line {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
  padding-left: 2rem;
  line-height: 3.6rem;
}

.social-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
  padding-left: 2rem;
  line-height: 3.6rem;
}

.sidebar .section p {
  padding-left: 2rem;
}

.sidebar .section ul {
  padding-left: 2rem;
  list-style: none;
}

.sidebar .section li {
  line-height: 1.5;
}

.section--personal ul {
  margin-bottom: 2rem;
}

.skill-item {
  list-style: none;
  background-position: left center;
  background-repeat: no-repeat;
}

.skill-name {
  min-width: 15rem;
  display: inline-block;
}

.skill-rating {
  letter-spacing: 5px;
}

.section--languages .skill-rating {
  letter-spacing: 1px;
}

/* SVG Icons */
.svg-icon {
  width: 3rem;
  height: 3rem;
  display: inline-block;
  flex-shrink: 0;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: var(--blue);
}

.svg-icon circle {
  stroke: var(--blue);
  stroke-width: 1;
}

/* extrenal links */
a:after {
  content: "";
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right center;
  width: 14px;
  height: 14px;
  filter: invert(1) opacity(0.5);
  padding-left: 1rem;
  vertical-align: middle;
  margin-top: -3px;
  transition: filter .2s ease;
}

a:hover:after {
  filter: invert(1) opacity(0.8);
}


/* animated underline */

:not(.item--website) > a {
  display: inline;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 0 2px;
  transition: background-size 0.3s;
}

a:hover,
a:focus {
  text-decoration: none;
  background-size: 100% 2px;
}

.item--website a span {
  display: inline;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 0 2px;
  transition: background-size 0.3s;
}

.item--website a:hover span,
.item--website a:focus span {
  text-decoration: none;
  background-size: 100% 2px;
}

/******************* MOBILE *****************/

@media screen and (max-width: 900px) {

  html {
    height: 100%;
    /* 10px */
    font-size: 62.5%;
    scroll-behavior: smooth;
  }

  html body {
    height: 100%;
    /* 16px */
    font-size: 1.8rem;
  }

  html body {
    /* background-color: red; */
  }

  .header-inner {
    display: flex;
    flex-direction: column;
  }

  .cv-header:before {
    display: none;
  }

  .profile-pic {
    padding: 3rem 0;
  }

  .profile-pic img {
    width: 15rem;
    height: 15rem;
  }

  .name-jobtitle {
    width: 100%;
    margin-left: 0;
    padding: 2rem 0px;
  }

  .profile-name {
    font-size: 4rem;
    letter-spacing: 1px;
  }

  .job-title {
    font-size: 2rem;
  }

  /* CONTENT */

  .sidebar .section {
    min-width: 100%;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  .content .section {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .section-title {
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  .skill-name {
    min-width: 17rem;
    display: inline-block;
  }

  .skill-rating {
    display: inline-block;
  }

  .item__details h3 {
    font-size: 2.4rem;
    margin-top: 0;
  }

}
